{% extends 'core/base.html' %}

{% block title %}Admin | {% endblock %}

{% block content %}
    <div class="box">
        <h1 class="title">Tên - {{ user.name }}</h1>
        <h1 class="title">Mail - {{ user.email }}</h1>
        <h1 class="title">Date Join - {{ user.date_joined }}</h1>


        <hr>

    
        <a href="{% url 'logout' %}" class="button is-danger is-uppercase">Log out</a>
    </div>

    <div class="box">
        <h2 class="is-size-3 mb-4">My products</h2>

        <a href="{% url 'add_product' %}" class="button is-dark is-uppercase mb-6">Add product</a>
        {% comment %} {% for product in view %}
            {% include 'core/parts/list_item.html' %}
        {% endfor %} {% endcomment %}
        {% if view %}
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in view %}
                        <tr>
                            <td><a href="">{{ product.product_name }}</a></td>
                            <td>${{ product.price }}</td>
                            <td><a href="{{  product.id }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any products yet...</p>
        {% endif %}
    </div>

{% endblock %}