
{% extends 'core/base.html' %}
{% load myfilters %}

{% block title %}Đăng nhập | {% endblock %}




{% block content %}
<form method="POST">{% csrf_token %}
<div class="main-area">
<div class="register-form">
{{ form.non_field_errors }}
      <h2 class="mainheading">FAISNE Shop</h2>
      <h4 class="mainheading">Login</h4>
      <label for="id_username" class="login-labels">Email Address*</label> 
      {{ form.username.errors }}
      {{ form.username|addclass:'form-control'|addplaceholder:'Email Address'}}
      <label for="id_password" class="login-labels">Password*</label> 
      {{ form.password.errors }}
      {{ form.password|addclass:'form-control'|addplaceholder:'Your Password' }}
      <label>
            <a href="reset_password">Quên Mật Khẩu?</a>
      </label>
      <br>
<button type="submit" class="btn btn-primary btn-lg signup-button">Login</button>
</form>
</div>
</div>
{% endblock %}