{% extends 'core/base.html' %}

{% block title %}Profile | {% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <div class="card">
        <h5 class="card-header">Infomations</h5>
        <div class="card-body">
            <h5 class="card-title"><p>You are logged in as {{ user.name }} </p></h5>
            <p class="card-text">Email: {{user.email}}</p>
            <p class="card-text">Phone: {{user.phone}}</p>
            <a href="password_change" class="btn btn-primary">Change password</a>
        </div>
    </div>
    
    

{% endblock %}