{% extends 'core/base.html' %}

{% block title %} Product Details | {% endblock %}

{% block content %}

<div class="main-area">
    <div class="product-cards">
        <div class="row featurette">
            <div class="col-md-5">
                <img src="/media/{{product.image}}" class="card-img-top" alt="...">

            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{{product.product_name}}</h2>
                <p class="lead">Price: {{product.price}}$</p>
                <a class="btn btn-primary" href="{% url 'addtocart' id=product.product_id %}">Add To Cart</a>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}