{% extends 'core/base.html' %}

{% block title %} Product| {% endblock %}

{% block content %}



<div class="row">
    <div class="col" id="gender-select">
        <p> <a href="{% url 'mens_products' %}">Men</a> <span id=gender-separator>|</span> <a href="{% url 'womens_products' %}">Women</a></p>
    </div>
</div>
<div class="row row-flex">
    {% for product in products %}
    <a href="{% url 'product_showcase' product.id %}" class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default product-card">
        <div class="panel-body">
            <div class="product-image" style="background-image: url('/media/{{ product.image }}')"></div>
            <div class="product-vitals">
                <div class="text-centered heavy">{{ product.title }}</div>
                <div class="text-centered light">{{ product.get_size_display }}</div>
                <div class="text-centered heavy"> {{ product.price }}VND</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>


{% endblock %}