/* Global */
body {
    font-family: 'Muli', sans-serif;
 
    color: #262626;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif;
    color: #262626;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.text-centered {
    text-align: center;
}

.heavy {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Navbar */
.navbar-custom {
    background-color: #383838;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #383838;
    min-height: 60px;
}

.navbar-default .navbar-toggle {
    border-color: #383838;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #383838;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #3b3b3b;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #515151;
}

.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 28px;
    padding-top: 20px;
}

.navbar-brand img {
    padding-bottom: 8px;
    height: 30px;
    width: auto;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.icon-bar {
    background-color: #fff;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

footer p {
    text-align: center;
}

/* Buttons */
.btn.btn-default {
    background-image: none;
    background-color: #3e53bb;
    border: none;
    min-width: 160px;
    padding: 10px 0;
    margin-right: 10px;
}

.btn.btn-default:last-child {
    margin-right: 0;
}

.btn.btn-default:hover {
    background-color: #384ba6;
    color: #fff;
}

.btn-success:hover {
    background-color: #676767;
    border-color: #262626;
}

.btn-success {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #262626;
    transition: .2s ease-in-out;
    border-color: #262626;
}

a.btn-success {
    color: #fff;
}

.btn-success.checkout {
    color: #fff;
}

.btn-carousel {
    color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#search-box {
    margin-bottom: 8px;
}

.carousel-caption {
    margin-bottom: 48px;
}

.carousel-caption a {
    margin-top: 18px;
}

.carousel-caption h1 {
    color: #fff;
}

/* Product Cards */
#gender-select {
    text-align: center;
    font-size: 1.2em;
}

#gender-select a {
    color: #676767;
    transition: .2s ease-in-out;
}

#gender-select a:hover {
    color: #000;
    text-decoration: none;
}

#gender-separator {
    margin: 0 1.1em;
}

.product-card {
    color: inherit;
}

.product-card:hover {
    text-decoration: none;
    color: inherit;
}

.product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.product-vitals {
    background-color: #fff;
    padding: 16px 0;
    margin: 15px 0 0 0;
    font-size: 0.9em;
}

caption p {
    word-wrap: break-word;
}

.panel {
    box-shadow: none;
    border: none;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    background-color: #efefef;
    height: 100%;
    padding: 15px 0 0 0;
}

/* Product Showcase */
.image-responsive {
    width: 250px;
}

.showcase-title {
    font-size: 2em;
}

.showcase-price {
    font-size: 2em;
    color: #707070;
}

/* Cart */
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.cart-product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

/* Checkout */
.checkout-table {
    margin-bottom: 60px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}